.hero{
    width: 100%;
    text-align: center;
    align-items:center;
    padding: 30px 0;
}
.hero-title{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 50px;
    margin: 10px 0;

}
.hero-text{
    width: 48%;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 30px;
    margin: 10px auto;

}
.hero-box{
    width: 100%;
    position: relative;
}
.hero-box::before{
    content: '1';
    position: absolute;
    top: 0;
    left: 0;

}