.section {
    width: 100%;
}

.section-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.section-right {
    text-align: center;
}

.section-title {
    width: 100%;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 40px;
}

.section-text {
    width: 60%;
    font-family: sans-serif;
    line-height: 25px;
    margin: 10px 0;
}

.section-text2 {
    width: 100%;
    margin-top: 40px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 25px;
    font-size: 20px;

    // padding: 30px 0;
}

@media (max-width:1220px) {
    .container {
        width: 1100px;
    }
    .section-content{
        width: 90%;
    }

}

@media (max-width:1120px) {
    .container {
        width: 1000px;
    }
    .section-content{
        width: 95%;
        }
}

@media (max-width:1020px) {
    .container {
        width: 900px;
    }
    .section-content{
        width: 100%;
        padding: 5px;
        }
        .section-right{
            padding: 30px 0;
        }
        .section-text{
            width: 90%;
        }
}

@media (max-width:920px) {
    .container {
        width: 800px;
    }
}

@media (max-width:820px) {
    .container {
        width: 700px;
    }
}

@media (max-width:720px) {
    .container {
        width: 600px;
    }
    .section-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:620px) {
    .container {
        width: 500px;
    }
}

@media (max-width:520px) {
    .container {
        width: 400px;
    }
}

@media (max-width:420px) {
    .container {
        width: 300px;
    }
}

@media (max-width:320px) {
    .container {
        width: 200px;
    }
}