.footer {
    background-image: url(/src/assets/footer.png);
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 30px 0;

    &-content {
        padding: 40px 0;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: white;
    }

    &-right {
        width: 50%;
        text-align: center;

    }

    &-btn {
        color:white;
        background: rgba(38, 133, 221, 0.948);
        width: 60%;
        border-radius: 50px;
        border: 1px solid rgba(38, 133, 221, 0.948);
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        &:hover{
            background:white;
            border:1px solid white;
            color:rgba(38, 133, 221, 0.948);
            padding: 10px;
            width: 60%;
            border-radius: 50px;
        }
    }

    &-textarea {
        color: white;
        font-size: 16px;
        background: black;
        width: 60%;
        margin: 20px 0;
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid white;
    }

    &-input {
        color: white;
        font-size: 16px;
        background: black;
        width: 60%;
        padding: 10px 25px;
        border-radius: 50px;
        border: 1px solid white;
        margin-top: 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }




    &-title {
        font-family: sans-serif;
        font-size: 30px;
        text-align: center;
    }

    &-link-title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    &-link {
        font-family: sans-serif;
        color: white;
        text-align: center;
        font-size: 18px;

    }

    &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
    }



    &-2 {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;

        .footer-link {

            #footer-icons {
                transition: color 0.3s ease;
                font-size: 35px;
                -webkit-transition: color 0.3s ease;
                -moz-transition: color 0.3s ease;
                -ms-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
            }

            &:nth-child(1):hover #footer-icons {
                color: green;

            }

            &:nth-child(2):hover #footer-icons {
                color: rgb(0, 157, 255);
            }

            &:nth-child(3):hover #footer-icons {

                color: blue;
            }

            &:nth-child(4):hover #footer-icons {

                color: rgb(226, 43, 192);
            }

            &:nth-child(5):hover #footer-icons {

                color: blue;
            }


        }
    }


}

@media (max-width:1220px) {
    .container {
        width: 1100px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 70%;
        }
    }

}

@media (max-width:1120px) {
    .container {
        width: 1000px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 70%;
        }
    }
}

@media (max-width:1020px) {
    .container {
        width: 900px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 70%;
        }
    }
}

@media (max-width:920px) {
    .container {
        width: 800px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 80%;
        }
    }
}

@media (max-width:820px) {
    .container {
        width: 700px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 85%;
        }
    }

    .footer-title {
        font-size: 25px;
    }
}

@media (max-width:720px) {
    .container {
        width: 600px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 90%;
        }
    }

    .footer-title {
        font-size: 23px;
    }
}

@media (max-width:620px) {
    .container {
        width: 500px;

        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 80%;
        }
    }

    .footer-content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

    }

    .footer-right {
        width: 100%;
        
    }

    .footer-link-title {
        margin-top: 10px;
    }

    .footer-title {
        margin-top: 10px;
    }
}

@media (max-width:520px) {
    .container {
        width: 400px;
        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 90%;
        }
    }
    .footer-content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 10px 0;

    }


    .footer-right {
        width: 100%;
        
    }

    .footer-link-title {
        margin-top: 10px;
    }
    .footer-link{
   font-size: 14px;
    }

    .footer-title {
        margin-top: 10px;
    }
}
@media (max-width:420px) {
    .container {
        width: 300px;
        .footer-input,
        .footer-textarea,
        .footer-btn {
            width: 90%;
        }
    }
    .footer-content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 10px 0;

    }


    .footer-right {
        width: 100%;
        
    }

    .footer-link-title {
        margin-top: 10px;
    }
    .footer-link{
        font-size: 14px;
      
    }

    .footer-title {
        margin-top: 10px;
    }
    .footer-box{
        gap: 5px;
    }
}
 